.about-section {
  margin: 75px auto;
  max-width: 1024px;
}

.about-section__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-section__content_text {
  max-width: 515px;
  line-height: 1.5;
}

.about-section__content_img {
  position: relative;
  top: -90px;
}

.about-section__content_img_photo {
  margin: 0 auto;
}

.about-section__content_img_line {
  width: 100%;
  height: 1px;
  bottom: 2px;
  border: none;
  background-color: #C778DD;
  margin: 0 auto;
  position: absolute;
}

