.contacts-section {
  margin: 75px auto;
  max-width: 1024px;
}

.contacts-section__content {
  display: flex;
  justify-content: space-between;
}

.contacts-section__content_text-and-from {
  max-width: 505px;
}

.contacts-section__content_text-and-from p {
  min-width: 0;
  max-height: 100%;
}

.contacts-section__content_contacts {
  height: fit-content;
  border: 1px solid #ABB2BF;
  padding: 0 10px;
}

.contacts-section__content_contacts_text {
  margin: 14px 0;
  color: white;
}

.contacts-section__content_contacts_contact {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 14px 0;
}
