.start-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 50px auto;
  justify-content: space-between;
}

.start-section__text-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 537px;
  min-width: 500px;
}

.start-section__text-block_main-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
}

.start-section__text-block_main-text b {
  color: #C778DD;
}

.start-section__text-block_description {
  font-size: 16px;
  color: #ABB2BF;
  margin: 30px 0;
}

.start-section__img-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 457px;
}

.start-section__img-block_photo {
  object-fit: contain;
  max-width: 100%;
}

.start-section__img-block_text {
  width: 402px;
  border: 2px solid #ABB2BF;
  color: #ABB2BF;
  text-align: center;
}

.start-section__img-block_text b {
  color: white;
}
