@import url(base.css);
@import url(links.css);
@import url(header.css);
@import url(head-of-section.css);
@import url(start-section.css);
@import url(quote-section.css);
@import url(projects-section.css);
@import url(skills-section.css);
@import url(about-section.css);
@import url(contacts-section.css);
@import url(footer.css);
@import url(pop-up-window.css);




@media screen and (max-width: 1240px) {
  .media-links {
    display: none;
  }

  body {
    margin: 0 50px;
  }
}


@media screen and (max-width: 1072px) {
  .start-section__text-block {
    max-width: 100%;
    min-width: 100%;
  }

  .start-section__img-block {
    width: 100%;
  }

  .about-section__content_text {
    max-width: 100%;
  }

  .about-section__content_img {
    display: none;
  }

  .contacts-section__content_contacts {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  body {
    margin: 0 25px;
  }

  .hidden-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .start-section__text-block_contact-me {
    display: none;
  }

  .start-section__img-block_text {
    width: 90%;
  }

  .quote-section {
    display: none;
  }

  .section__head_line {
    display: none;
  }

  .section__head_title {
    font-size: 30px;
  }

  .projects-section__projects__project {
    width: 100%;
  }

  .skills-section__blocks {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
  }

  .skills-section__blocks__column {
    margin-left: 0;
  }

  .skills-section__blocks:nth-child(3) {
    margin-left: auto;
  }
}


@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .start-section,
  .projects-section,
  .skills-section,
  .about-section,
  .contacts-section {
    margin: 50px auto;
  }

  .section__head {
    margin-bottom: 25px;
  }

  .start-section__text-block_main-text {
    font-size: 24px;
  }

  .projects-section__projects__project_description_name {
    font-size: 20px;
  }

  .section__head_view-all {
    display: none;
  }

  .projects-section__projects__project_description_status-blocks {
    gap: 7px;
  }

  .form {
    gap: 15px;
  }

  .form_name::placeholder,
  .form_email::placeholder,
  .form_title::placeholder,
  .form_text::placeholder {
    font-size: 14px;
  }

  .form_name,
  .form_email,
  .form_title,
  .form_text,
  .form_submit {
    font-size: 14px;
    height: 30px;
  }

  .form_name-and-email {
    flex-wrap: wrap;
    gap: 15px;
    min-width: 0;
  }

  .form_name,
  .form_email {
    width: 100%;
  }

  .form_text {
    height: 100px;
  }

  .left-swap-button,
  .right-swap-button {
    height: 10px;
    width: 10px;
  }
}


@media screen and (max-width: 290px) {
  .form {
    width: 200px;
  }
}
